<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="static/css.css" rel="stylesheet" type="text/css">
  <title>Amo  arz</title>
</head>
<body>
 
 
 
 
 <div class="card btc">
  <div class="title"><img src="static/images/bitcoin.png" >Bitcoin</div>
  <div class="price">{{ BTC }}</div>
</div>

<div class="card trx">
  <div class="title"><img src="static/images/trx.png" >TRON</div> <!-- آیکون ترون -->
  <div class="price">{{ TRX }}</div>
</div>

<div class="card ton">
  <div class="title"><img src="static/images/ton.png" >TON</div> <!-- آیکون تون -->
  <div class="price">{{ TON }}</div>
</div>

<div class="card tether">
  <div class="title"><img src="static/images/tether.png"> TETHER</div> <!-- آیکون تتر -->
  <div class="price">{{ tether }}</div>
</div>

<div class="card gold">
  <div class="title"><img src="static/images/gold.png" >GOLD</div> <!-- آیکون طلا -->
  <div class="price">{{ GOLD }}</div>
</div>


</body>
</html>